* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background-color: rgb(250,200,150);
}

#main {
    height: 640px;
    width: 640px;
    margin:auto;
    display:flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.card {
    height: calc(33.333% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(1,1,1,0.3);
    border-radius: 5px;
    cursor:pointer;
    transform: scale(1);
    transform-style: preserve-3d; /*evitar o achatamento no plano*/
    transition: transform .9s;
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgb(255,255,200);
}

.card:active {
    transform: scale(0.97);
    transition: transform .3s;
}

.card img {
    width:100%;
    height:100%;
    padding:10px;
    position:absolute;
    border-radius: 5px;
    background: rgb(255,255,200);
}

.back-image {
    backface-visibility: hidden;
}

.front-image {
    transform:rotateY(-180deg);
}

/*flip card animation*/

.card.flip {
    transform:rotateY(-180deg);
}